@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* flex-direction: column; */
}

.card {
  width: 375px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.profile-location {
  font-size: 14px;
  font-weight: 400;
  color:hsl(75, 94%, 57%);
  margin-top: 0;
}

.profile-bio {
  font-size: 14px;
  font-weight: 400;
  /* margin-top: 0; */
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  background-color:hsl(0, 0%, 20%);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.social-item:hover {
  background-color:hsl(75, 94%, 57%)
}

.social-link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

